<h3><strong>Category:</strong> <%= doctor.category.name %></h3>

<p><strong>Appointments:</strong></p>

<table class="table w-25 mx-auto">
  <thead class="bg-light">
    <tr>
      <th scope="col">Appointment ID</th>
      <th scope="col">Patient name</th>
      <th scope="col">Active</th>
      <th scope="col">Recommendation</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% doctor.appointments.includes(:patient).each do |appointment| %>
      <tr>
        <td scope="row">
          <%= "Appointment##{appointment.id}" %>
        </td>
        <td>
          <%= link_to appointment.patient.name, user_path(appointment.patient.id) %>
        </td>
        <td>
          <%= appointment.active ? "Yes" : "No" %>
        </td>
        <td>
          <%= appointment.recommendation.present? ? appointment.recommendation : "Empty" %>
        </td>
        <td>
          <%= link_to "Edit", edit_appointment_path(id: appointment.id) if appointment.active %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

