<h3><strong>Category:</strong> <%= doctor.category.name %></h3>

<p><strong>Appointments:</strong></p>

<table>
  <tr>
    <th>Appointment ID</th>
    <th>Patient name</th>
    <th>Active</th>
    <th>Recommendation</th>
    <th></th>
  </tr>
  <% doctor.appointments.includes(:patient).each do |appointment| %>
    <tr>
      <td>
        <%= "Appointment##{appointment.id}" %>
      </td>
      <td>
        <%= link_to appointment.patient.name, user_path(appointment.patient.id) %>
      </td>
      <td>
        <%= appointment.active ? "Yes" : "No" %>
      </td>
      <td>
        <%= appointment.recommendation.present? ? appointment.recommendation : "Empty" %>
      </td>
      <td>
        <%= link_to "Edit", edit_appointment_path(id: appointment.id) if appointment.active %>
      </td>
    </tr>
  <% end %>
</table>

