<p><strong>Appointments:</strong></p>

<table class="table w-25 mx-auto">
  <thead class="bg-light">
    <tr>
      <th scope="col">Appointment ID</th>
      <th scope="col">Doctor name</th>
      <th scope="col">Active</th>
      <th scope="col">Recommendation</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% patient.appointments.includes(:doctor).each do |appointment| %>
      <tr>
        <td scope="row">
          <%= "Appointment##{appointment.id}" %>
        </td>
        <td>
          <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %>
        </td>
        <td>
          <%= appointment.active ? "Yes" : "No" %>
        </td>
        <td>
          <%= appointment.recommendation.present? ? appointment.recommendation : "Empty" %>
        </td>
        <td>
          <% if can?(:update, appointment) && appointment.active %>
            <%= link_to "Edit", edit_appointment_path(id: appointment.id) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
