<div>
  <section>
    <h1><%= @doctor.name %></h1>

    <p><strong>Category:</strong> <%= @doctor.category.name %></p>

    <div class="d-flex justify-content-center">
      <% if current_user.blank? || current_user.patient? %>
        <%= button_to 'Set an appointment', appointments_path(id: @doctor.id), method: :post,
                      class: "btn btn-primary me-2" %>
      <% end %>

      <%= link_to 'Back', doctors_path, class: "btn btn-danger" %>
    </div>
  </section>
  <section class="d-flex flex-column justify-content-center">
    
    <% if @doctor.avatar.attached? %>
      <%= cl_image_tag @user.avatar.key, width: 400, height: 400, crop: "fill" %>
    <% end %>    

  </section>
</div>
