<h1>Sign Up</h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "text-left" }) do |f| %>
  <%# render "devise/shared/error_messages" %>
  
  <%= f.input :phone, required: true, autofocus: true,
    wrapper_html: { class: "mb-2 d-flex justify-content-around form-div mx-auto" },
    label_html: { class: "ms-0 me-auto" },
    input_html: { autocomplete: "phone", placeholder: "0123456789", class: "ms-auto me-0" }	%>
  <%= f.input :name, required: true,
    wrapper_html: { class: "mb-2 d-flex justify-content-around form-div mx-auto" },
    label_html: { class: "ms-0 me-auto" },
    input_html: { placeholder: "Name", class: "ms-auto me-0" } %>

  <%= f.input :password, required: true,
    wrapper_html: { class: "mb-2 d-flex justify-content-around form-div mx-auto" },
    label_html: { class: "ms-0 me-auto" },
    input_html: { class: "ms-auto me-0" } %>
  <%= f.input :password_confirmation, label: "Password", required: true,
    wrapper_html: { class: "mb-2 d-flex justify-content-around form-div mx-auto" },
    label_html: { class: "ms-0 me-auto" },
    input_html: { class: "ms-auto me-0"  } %>
  <%= f.button :submit, "Sign Up", class: "btn btn-success nav-btn" %>

  <%= render "devise/shared/links" %>
<% end %>
